extends ./_layout-root.pug

block header
  header.tf-header
    nav.navbar.navbar-expand.py-5
      .container.tf-menu
        h1.a.navbar-brand.tf-brand(href='#').p.pl-3 Start Simple
        ul.navbar-nav.font-weight-bold
          li.nav-item
            a.nav-link(href='#') Portfolio
          li.nav-item
            a.nav-link(href='#') About
          li.nav-item
            a.nav-link(href='#') Pricing
          li.nav-item
            a.nav-link(href="#") Careers
          li.nav-item
            a.nav-link(href="#") Blog
          li.nav-item
            a.nav-link(href="#") Get a Quote

    .container.tf-header-heading
      .row
        .col-md-7.col-sm-12
          h2.h1 Technical Cofounders<br/>to Your Mobile &<br/> Web Startup  
        
      .row
        .col-md-5.col-sm-12
          p.tf-header-heading-content.lead To build a successful app, you need a smart product strategy, engaging UX, killer designs, and a talented mobile development team.
          p
            strong.text-uppercase Good News
            span.tf-header-heading-content - You've come to the right place
      .row.no-gutters
        .col-md-3.col-sm-12.pr-1
          input(type="email" class="form-control"  aria-describedby="emailHelp"  placeholder="*Your Email Address")
        .col-md-2.col-sm-12.pl-2
          p.a.btn.btn-primary(href="#") Request a Quote 
    
block footer
  footer.bg-dark.py-4.mt-4
    .container.text-light
      .row
        .col-md-6.col-sm-12 &copy 2015 Start Simple. All rights reserved.
        .text-right.col-md-6.col-sm-12 Design - Templateflip 
block content
  div!= page.content