extends ./_layout-root.pug

block header
  header.tf-header
    nav.navbar.navbar-expand
        .container
          a.navbar-brand.tf-brand(href='#') Start Simple
          ul.navbar-nav.tf-menu
            li.nav-item
              a.nav-link(href='#') Portfolio
            li.nav-item
              a.nav-link(href='#') About
            li.nav-item
              a.nav-link(href='#') Pricing
            li.nav-item
              a.nav-link(href="#") Careers
            li.nav-item
              a.nav-link(href="#") Blogs
            li.nav-item
              a.nav-link(href="#") Get a Quote

block footer
  footer.container
    .row
      .col-md-12.col-sm-12.col-lg-6.col-xl-6 &copy 2015 ARKENEA. All rights reserved.
      .text-right.col-md-12.col-sm-12.col-lg-6.col-xl-6 Designer - Prashant | MADE WITH LOVE IN INDIA
block content
  div!= page.content