extends ./_layout-root.pug

block header
  header.tf-header
    nav.navbar.py-5.navbar-dark
      .container
        h1
          a.navbar-brand(href='/') Start Simple
        #navbar
          ul.nav.pull-right
            li.nav-item
              a.nav-link(href='#') Home
            li.nav-item
            a.nav-link(href='#work') Work
            li.nav-item
            a.nav-link(href='#contact') Contact
          
    .container
      .row
        .col-md-7.col-sm-12
          h2 Technical Cofounders<br/>to Your Mobile &<br/> Web Startup        
      .row
        .col-md-7.col-sm-12
          p.lead.mt-1 To build a successful app, you need a smart product strategy, engaging UX, killer designs, and a talented mobile development team.
          p.mt-5
            strong.text-uppercase Good News
            span  - You've come to the right place

      .row.no-gutters
        .col-md-4.col-sm-12.tf-hh-col
          input.mt-1(type="email" class="form-control"  aria-describedby="emailHelp"  placeholder="*Your Email Address")
        .col-md-3.col-sm-12
          p.tf-header-heading-btn.a.btn.btn-primary.btn-block.mt-1(href="#") Request a Quote

block footer
  footer.bg-dark.py-4.mt-5
    .container.text-light
      .row
        .col-md-6.col-sm-12 &copy 2015 Start Simple. All rights reserved.
        .col-md-6.col-sm-12.text-right.tf-design Design - <a href="https://templateflip.com" target="_blank">Templateflip</a>

block content
  div!= page.content