extends ./_layout-root.pug

block header
  header.tf-header
    nav.navbar.py-5.navbar-dark
      .container
        h1
          a.navbar-brand(href='/') Start Simple
        #navbar
          ul.nav.pull-right
            li.nav-item
              a.nav-link(href='#') Home
            li.nav-item
              a.nav-link(href='#work') Work
            li.nav-item
              a.nav-link(href='#contact') Contact
          
    .container
      .row
        .col-md-7.col-sm-12
          h2 Startup Landing Page<br/>for your Product &<br/> Services
      .row
        .col-md-7.col-sm-12
          p.mt-4 Perfect landing page to showcase your product or service. Built with Bootstrap 4.
          p.mt-5
            strong.text-uppercase Try for Free
            span  - Just leave your e-mail below and we will get in touch

      .row.no-gutters
        .col-md-4.col-sm-12.tf-hh-col
          input.mt-1(type="email" class="form-control"  aria-describedby="emailHelp"  placeholder="*Your Email Address")
        .col-md-3.col-sm-12
          p.tf-header-heading-btn.a.btn.btn-primary.btn-block.mt-1(href="#") Request Free Trial


block footer
  footer.bg-dark.py-4.mt-5.tf-footer
    .container.text-light
      .row
        .col-md-6.col-sm-12 &copy Your Company Name. All rights reserved.
        .col-md-6.col-sm-12.text-right.tf-design Design - <a href="https://templateflip.com" target="_blank">Templateflip</a>

block content
  div!= page.content