extends ./_layout-root.pug

block header
  header.tf-header
    nav.navbar.navbar-expand
      .container
        a.navbar-brand.tf-brand(href='#') Start Simple
        ul.navbar-nav.tf-menu
          li.nav-item
            a.nav-link(href='#') Portfolio
          li.nav-item
            a.nav-link(href='#') About
          li.nav-item
            a.nav-link(href='#') Pricing
          li.nav-item
            a.nav-link(href="#") Careers
          li.nav-item
            a.nav-link(href="#") Blogs
          li.nav-item
            a.nav-link(href="#") Get a Quote

    .container
      .row
        h1.col-md-12.col-sm-12.col-lg-6.col-xl-6.tf-header-heading Technical Cofounders to Your Mobile & Web Startup 
          p.lead.tf-header-heading-content TO build a successful app, you need a smart product strategy, engaging UX, Killer Designs,and a talented mobile development team.
          h5 Good News 
          | - You've come to the right place
      .row
        .col-md-6.col-sm-6.col-lg-3.col-xl-3
          input(type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  placeholder="Your Email Address")
        .col-md-6.col-sm-6.col-lg-3.col-xl-3
          p.a.btn.btn-primary(href="#") Request a Quoate 
    
      
         
     

block footer
  footer.container
    .row
      .col-md-12.col-sm-12.col-lg-6.col-xl-6 &copy 2015 Start Simple. All rights reserved.
      .text-right.col-md-12.col-sm-12.col-lg-6.col-xl-6 Design - Templateflip | MADE WITH LOVE IN INDIA
block content
  div!= page.content