---
layout: 'default'
title: 'Start Simple'
description: 'This is a basic starter template for MMPilot which includes Bootstrap Framework.'
---

.tf-work-section
  #work.container
    h2.h3 Our Success Stories
  .container
    .row
      .col-md-4.col-sm-12.pt-2
        .card
          img.img-fluid.card-img-top(src="images/2-start-simple.jpg" alt="2-start-simple")
          .card-body
            p.text-muted Lorem ipsum dolor sit amet consectetur adipiscing elit interdum sagittis, nisi ac aptent vitae est facilisi.
            a.text-dark(href="#" class="card-link") Learn More

      .col-md-4.col-sm-12.pt-2
        .card
          img.img-fluid.card-img-top(src="images/3-start-simple.jpg" alt="3-start-simple")
          .card-body
            p.text-muted Porttitor varius auctor litora congue sociosqu montes eleifend facilisi elementum convallis, diam et nullam sem.
            a.text-dark(href="#" class="card-link") Learn More
      .col-md-4.col-sm-12.pt-2
        .card
          img.img-fluid.card-img-top(src="images/4-start-simple.jpg" alt="4-start-simple")
          .card-body
            p.text-muted Commodo convallis varius egestas purus rhoncus cras morbi dignissim, ligula vestibulum ultrices urna semper.
            a.text-dark(href="#" class="card-link") Learn More

.tf-quotes-section
  #tf-carousel.carousel.slide.mt-5(data-ride="carousel")
    ol.carousel-indicators
      li(data-target="#tf-carousel" data-slide-to="0").active
      li(data-target="#tf-carousel" data-slide-to="1")
      li(data-target="#tf-carousel" data-slide-to="2")

    .carousel-inner
      .carousel-item.active(style="background-image: url('images/5-start-simple-slider.jpg');")
        .carousel-caption
          p.slider-text-1 "Amazing product, Start Simple cares for their customers and helps them at every step.<br>I am a satisfied customer!"
          p.slider-text-2 Walter George<br>CEO, Founder of Gupply
      .carousel-item(style="background-image: url('images/6-start-simple-slider.jpg');")
        .carousel-caption
          p.slider-text-1 "Start Simple thinks outside the box and offers solutions through the creative process of developing apps.<br>They helped me succeed!"
          p.slider-text-2 Nancy Young<br>Managing Director, Amazingly
      .carousel-item(style="background-image: url('images/7-start-simple-slider.jpg');")
        .carousel-caption
          p.slider-text-1 "Simple yet elegant solution to showcase our product and services.<br>Couldn't have asked for more!"
          p.slider-text-2 Glenn Harrold<br>Marketing Manager

    a.carousel-control-prev(href="#tf-carousel" role="button" data-slide="prev")
      span.carousel-control-prev-icon(aria-hidden="true")
      span.sr-only Previous

    a.carousel-control-next(href="#tf-carousel" role="button" data-slide="next")
      span.carousel-control-next-icon(aria-hidden="true")
      span.sr-only Next


.tf-contact-section
  #contact.container
    h2.h4 Tell us About Your Requirement
  .container
    .row
      .col-md-4.col-sm-12
        h3.h5 Contact us
        form(action="https://formspree.io/youremail@example.com" method="POST")
          .row.no-gutters
            .col-lg-6.col-md-12.col-sm-12.tf-contact-col
              input.bg-light(type="text" class="form-control" name="name"  placeholder="*Name" required)
            .col-lg-6.col-md-12.col-sm-12.pb-2
              input.bg-light(type="email" class="form-control" name="_replyto" placeholder="*Your Email Address" required)
          .row.pb-2.no-gutters
            .col-md-12.col-sm-12
              textarea.bg-light.mb-2(class="form-control" name="message" placeholder="*Your Message" rows="5" required)
          button(type="submit" class="btn btn-primary") Submit

      .col-md-8.col-sm-12.float-right.text-right
          h3.h5 Address
          span Start Simple<br/>United States
          p
          h3.h5 Phone
          p (243) 948 3866
          h3.h5 Email
          p contact@example.com


