---
layout: 'default'
title: 'Home'
description: 'This is a basic starter template for MMPilot which includes Bootstrap Framework.'
---
.container.tf-section-heading
  h3 Our Success Stroies
.container
  .row
    .col-lg-4.col-xl-4.col-md-12.col-sm-12.pt-2
      .card
        img.card-img-top(src="/images/2-start-simple.jpg" alt="2-start-simple")
        .card-body
          p.card-text Sleep Easily downloaded over 400,000 times - generating consistent revenues.
          ul.list-group.list-group-flush
          .card-body.text-right.pt-3
          a(href="#" class="card-link") Continue reading...

    .col-lg-4.col-xl-4.col-md-12.col-sm-12.pt-2
      .card
        img.card-img-top(src="/images/3-start-simple.jpg" alt="3-start-simple")
        .card-body
          p.card-text Canvsly featured on TechCrunch and winner of the kiip Build Fund 2013 and Mom's Choice Awards.
          ul.list-group.list-group-flush
          .card-body.text-right.pt-3
          a(href="#" class="card-link") Continue reading...

    .col-lg-4.col-xl-4.col-md-12.col-sm-12.pt-24
      .card
        img.card-img-top(src="/images/4-start-simple.jpg" alt="4-start-simple")
        .card-body
          p.card-text Canvsly featured on TechCrunch and winner of the kiip Build Fund 2013 and Mom's Choice Awards.
          ul.list-group.list-group-flush
          .card-body.text-right.pt-3
          a(href="#" class="card-link") Continue reading...

.container
            