---
layout: 'default'
title: 'Home'
description: 'This is a basic starter template for MMPilot which includes Bootstrap Framework.'
---
.container.tf-section-heading
  h3.tf-section-heading Our Success Stroies
  |______
.container
  .row
    .col-lg-4.col-xl-4.col-md-12.col-sm-12.pt-2
      .card
        img.card-img-top(src="/images/2-start-simple.jpg" alt="2-start-simple")
        .card-body
          p.card-text Sleep Easily downloaded over 400,000 times - generating consistent revenues.
          ul.list-group.list-group-flush
          .card-body.text-right.pt-3
          a(href="#" class="card-link") Continue reading...

    .col-lg-4.col-xl-4.col-md-12.col-sm-12.pt-2
      .card
        img.card-img-top(src="/images/3-start-simple.jpg" alt="3-start-simple")
        .card-body
          p.card-text Canvsly featured on TechCrunch and winner of the kiip Build Fund 2013 and Mom's Choice Awards.
          ul.list-group.list-group-flush
          .card-body.text-right.pt-3
          a(href="#" class="card-link") Continue reading...

    .col-lg-4.col-xl-4.col-md-12.col-sm-12.pt-24
      .card
        img.card-img-top(src="/images/4-start-simple.jpg" alt="4-start-simple")
        .card-body
          p.card-text Canvsly featured on TechCrunch and winner of the kiip Build Fund 2013 and Mom's Choice Awards.
          ul.list-group.list-group-flush
          .card-body.text-right.pt-3
          a(href="#" class="card-link") Continue reading...


#tf-carousel-Indicators.carousel.slide(data-ride="carousel")
  ol.carousel-indicators
    li(data-target="#tf-carousel-Indicators" data-slide-to="0").active
    li(data-target="#tf-carousel-Indicators" data-slide-to="1")
    li(data-target="#tf-carousel-Indicators" data-slide-to="2")

  .carousel-inner
    .carousel-item.active
      img.d-block.w-100(src="/images/5-start-simple-slider.jpg" alt="start-simple-slider")
    .carousel-item
      img.d-block.w-100(src="/images/6-start-simple-slider.jpg" alt="start-simple-slider")
    .carousel-item
      img.d-block.w-100(src="/images/7-start-simple-slider.jpg" alt="start-simple-slider")

  a.carousel-control-prev(href="#tf-carousel-Indicators" role="button" data-slide="prev")
    span.carousel-control-prev-icon(aria-hidden="true")
    span.sr-only Previous

  a.carousel-control-next(href="#tf-carousel-Indicators" role="button" data-slide="next")
    span.carousel-control-next-icon(aria-hidden="true")
    span.sr-only Next

.container

            