@import 'bootstrap/scss/bootstrap.scss';
body{
  font-family: 'Montserrat', sans-serif;
}
.tf-brand{
  text-transform: uppercase;
  color: white;
}

.tf-menu {
  text-transform: uppercase;

  .nav-link {
    color: white;
  }
}

.tf-header {
  position: relative;
  background: url("/images/1-hero-image.jpg") no-repeat center center;
  background-size: cover;
  height: 500px;
}

.tf-header::before {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 500px;
  content: ' ';
}

.tf-header-heading {
  text-transform: uppercase;
  color: white;
  margin-top :4rem;
}

.tf-header-heading-content{
  margin-top: 2rem;

}

.tf-section-heading {
text-transform: uppercase;
margin-top: 4rem;
margin-bottom: 2rem;
}

.card {
  border: none;
  border-radius: none;
}

.contact {
  margin-top: 3rem;
}

.contact-heading {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

tf-footer-content {
  min-height: 400px;
  padding-top: 4rem;
  padding-bottom: 1rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
