@import 'vars';
@import 'bootstrap/scss/bootstrap.scss';

body{
  font-family: 'Oxygen', sans-serif;
}

.tf-header {
  position: relative;
  background: url("../images/1-hero-image.jpg") no-repeat center center;
  background-size: cover;
  height: 650px;
  color: #ffffff;

  &::before {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height:650px;
    content: ' ';
  }

  h1 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .navbar-nav {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .nav-link {
    color: rgba(255, 255, 255, 0.7)!important;

    &:hover {
      color: white!important;
    }
  }

  h2 {    
    text-transform: uppercase;
    margin-top :1rem;
    font-weight: 700;
    font-size: 1.75rem;
    letter-spacing: 1px;
  }
}

@include media-breakpoint-up(lg) {
  .tf-header .navbar-collapse{
    flex-basis: auto;
  }

  .tf-header h2 {
    text-transform: uppercase;
    margin-top: 4rem;
    font-size: 48px;
  }
}

@include media-breakpoint-up(md) {
  .tf-header h2 {
    text-transform: uppercase;
    margin-top :2rem;
    font-size: 36px;
  }
}

.tf-hh-col {
  padding-right: 0.5rem !important;
}

@media(max-width:768px ) 
{
  .tf-hh-col{
    padding-right: 0 !important;
  }
}

.tf-section-heading {
  text-transform: uppercase;
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-weight: 700;
  color: #383838;
}

@media(max-width: 576px) {
  .tf-section-heading {
  font-size: 22px;
  margin-top: 1rem;
  margin-bottom:0;
  }
}

.card {
  border: none;
  border-radius: none;

  .card-body {
    padding-left: 0;
    padding-right: 0;
  }
}

.tf-contact {
  color:  #666666;
}

.form-control {
  border: none;
  font-size: 14px;
  padding: 12px 16px;
}

.card-text {
  padding-right: 3rem;
}

.btn {
  padding: 10px 11px;
}

.slider-text-1 {
  font-weight: 300;
  font-size: 18px;
  padding:0;
}

.slider-text-2 {
  font-weight: 400;
  font-size: 24px;
}

.carousel-caption {
  height: 100%;
  padding: 6rem 4rem;
}

@media(max-width: 576px ) {
  .slider-text-2 {
    font-size: 16px;
  }
  .carousel-caption {
    padding: 5rem 1rem;
  }
  .slider-text-1{
    font-size: 16px;
    padding:0;
  
  }
}

@media(max-width: 768px ) {
  .carousel-caption {
    padding: 5rem 1rem;
  }
  .slider-text-2 {
    font-size: 20px;
  }
}

.carousel-item {
  background-size:     cover; 
  background-repeat:   no-repeat;
  background-position: center center;
  height: 340px;
}

.carousel-item::before {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height:  340px;
  content: ' ';
}

.tf-contact-heading {
  text-align: center;
  text-transform: uppercase;
  color: #666666;
  padding: 4rem 4rem;  
}

@media(max-width: 576px ) {
  .tf-contact-heading {
    font-size: 16px;
    padding: 2rem 1rem;
  }
}

@media(max-width: 768px ) {
  .tf-contact-heading {
    padding: 2rem 1rem;
    font-size: 20px;
  }
}

.btn-contact {
  padding-right: 40px;
  padding-left: 40px;
}

.tf-fh-col {
  padding-bottom: .5rem;
  padding-right: .5rem !important;
}

@media(max-width: 992px) {
  .tf-fh-col {
    padding-right: 0 !important;
  }
}

.tf-design a {
  color: inherit;
  border-bottom: 1px dashed;

  &:hover {
    text-decoration: none;
  }
}

@media(max-width: 768px ) {
.tf-design {
  text-align: left !important;
  }
}

.bg-light {
  background-color: #ededed !important;
}